@page "/"

@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTextBox Placeholder="Write text and press enter..." Change=@(args => RefreshCustomerList(args)) />
    <RadzenGrid Count="@games.Count" Data="@games" AllowSorting="true" AllowFiltering="true" AllowPaging="true" PageSize="20" TItem="Game" ColumnWidth="200px">
        <Columns>
            <RadzenGridColumn TItem="Game" Property="MatchDate" Title="Date" />
            <RadzenGridColumn TItem="Game" Property="HomeTeam.Name" Title="Home Team" />
            <RadzenGridColumn TItem="Game" Property="AwayTeam.Name" Title="Away Team" />
            <RadzenGridColumn TItem="Game" Property="TheResult" Title="Result">

                <Template Context="game">

                    <span style='color:black'>@game.HomeGoals - @game.AwayGoals</span>

                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Game" Context="sampleBlazorModelsSampleOrder" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                <Template Context="game">
                    <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => OpenDetails(game.Id))">
                    </RadzenButton>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>

}
